.signup-form {
  position: absolute;
  width: 300px;
  left: 300px;
  margin: auto;
  transition: 0.3s;
  top: 0;
}

.signup-form.true {
  left: 0px;
}

.signup-form input {
  display: block;
  margin: 1rem auto;
}

.student-teacher-radio {
  display: flex;
  width: 150px;
  justify-content: space-between;
  margin: 0 auto 1rem;
}

.student-button,
.teacher-button {
  font-size: 0.8rem;
}

.student-button:hover,
.teacher-button:hover {
  cursor: pointer;
}

.sign-up-button {
  margin-bottom: 1rem;
}

.signup-form button:hover {
  cursor: pointer;
}
