.signup-form {
  position: absolute;
  width: 341px;
  height: 431px;
  left: 300px;
  margin: 1.2rem auto;
  transition: 0.3s;
  top: 0;
  font-family: "chronotype";
  font-size: 1.3rem;
}

.signup-form.true {
  left: 0px;
}

.signup-form-label {
  margin: 0.5rem 0;
}

.signup-form input {
  display: block;
  margin: 0.7rem auto;
  font-family: "chronotype";
  font-size: 1.1rem;
  padding-left: 1.6rem;
  padding-top: 4px;
  width: 220px;
}

.role-label {
  font-size: 1.1rem;
  height: 16px;
  margin: 0;
}

.student-teacher-radio {
  display: flex;
  /* width: 150px; */
  justify-content: space-between;
  margin: 1rem auto 0.5rem;
  height: 16px;
  padding: 0 3rem;
}

.student-button,
.teacher-button {
  font-size: 1.1rem;
  font-family: "chronotype";
  height: 16px;
}

.student-button:hover,
.teacher-button:hover {
  cursor: pointer;
}

.sign-up-button,
.return-to-login-button {
  margin: 0.6rem 0;
  font-family: "chronotype";
  font-size: 1.1rem;
  padding-top: 4px;
  border-radius: 1px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.sign-up-button:active,
.return-to-login-button:active {
  box-shadow: none;
}

.sign-up-button:focus,
.return-to-login-button:focus {
  outline: none;
}

.return-to-login-button {
  margin: 4.4rem 0 0 0;
}

.signup-form button:hover {
  cursor: pointer;
}

.signup-form-form {
  position: relative;
}

.name-icon {
  position: absolute;
  background: url(../Landing/images/user.png);
  height: 16px;
  width: 16px;
  background-size: cover;
  image-rendering: pixelated;
  left: 50px;
  top: 3px;
}

.ln-icon {
  top: 38px;
}

.email-icon {
  position: absolute;
  background: url(../Landing/images/mail.png);
  width: 17px;
  height: 17px;
  background-size: cover;
  image-rendering: pixelated;
  left: 49px;
  top: 72px;
}

.pw-icon {
  position: absolute;
  background: url(../Landing/images/lock.png);
  width: 13px;
  height: 16px;
  background-size: cover;
  image-rendering: pixelated;
  left: 50px;
  top: 107px;
}

.pw2-icon {
  top: 141px;
}

.student-button.student {
  text-decoration: underline;
}

.teacher-button.teacher {
  text-decoration: underline;
}

.bad-signup-warning,
.signup-successful-message,
.signing-up-message {
  position: absolute;
  margin: 0auto;
  right: -1000px;
  left: 0;
  transition: 0.3s;
}

.bad-signup-warning.true,
.signup-successful-message.true,
.signing-up-message.true {
  right: 0;
}

@media (max-width: 700px) {
  .signup-form.false {
    display: none;
  }
  .pw-icon,
  .pw2-icon,
  .email-icon,
  .ln-icon,
  .name-icon {
    display: none;
  }
  .signup-form input {
    padding-left: 0.5rem;
  }
  .return-to-login-button {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 3.5rem;
    width: 4rem;
    padding: 4px 0 3px;
    text-align: center;
  }
}
