.hearts {
  position: absolute;
}

.heart {
  width: 15px;
  height: 15px;
  background: url("./heart.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 2px;
}

.hearts.player-hearts {
  left: -10px;
}

.hearts.monster-hearts {
  right: -10px;
}
