.hearts {
  display: flex;
  flex-wrap: wrap;
}

.heart {
  width: 24px;
  height: 24px;
  background: url("./heart.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 2px;
}

.hearts.player-hearts {
  justify-self: end;
  margin-left: 2rem;
}

.hearts.monster-hearts {
  margin-right: 2rem;
}
