.monster-effect {
  animation: 1s monster-slash steps(8);
  -webkit-animation: 1s monster-slash steps(8);
  -moz-animation: 1s monster-slash steps(8);
  -o-animation: 1s monster-slash steps(8);

  width: 192px;
  height: 192px;
  background-size: 1536px 192px;
  image-rendering: pixelated;
  position: absolute;
  top: 40px;
  left: 120px;
}

@keyframes monster-slash {
  100% {
    background-position: -1536px;
  }
}

@-webkit-keyframes monster-slash {
  100% {
    background-position: -1536px;
  }
}

@-moz-keyframes monster-slash {
  100% {
    background-position: -1536px;
  }
}

@-o-keyframes monster-slash {
  100% {
    background-position: -1536px;
  }
}
