.onboarding-article {
  margin-top: 2rem;
  width: 600px;
}

.onboarding-image {
  height: 200px;
  width: 200px;
  box-shadow: 1px 1px 1px #4776bb;
}

.onboarding-content {
  margin: 1rem 2rem;
}

@media (max-width: 700px) {
  .onboarding-article {
    margin-top: 4rem;
    width: 340px;
  }

  .onboarding-image {
    height: 150px;
    width: 150px;
    box-shadow: 1px 1px 1px #4776bb;
  }
}
