.join-class-form {
  display: flex;
  width: 400px;
  height: 20px;
  margin: 0 2rem;
}

.join-class-form p {
  margin: 3px 0 0 0;
  font-size: 1.2rem;
}

.join-class-form input {
  font-family: "chronotype";
  font-size: 1.2rem;
}

.class-key-input {
  background: #e3e8d9;
  border: none;
  height: 18px;
  margin-right: 1rem;
  margin-left: 0.5rem;
  padding-left: 8px;
  box-shadow: 2px 2px 2px#4776bb;
}

.class-key-input:focus {
  outline: none;
}

.join-class-submit {
  font-family: "chronotype";
  font-size: 1.2rem;
  background: #4776bb;
  border: none;
  box-shadow: 2px 2px 2px#000;
  transition: 0.3s;
  padding-top: 4px;
}

.join-class-submit:active {
  box-shadow: none;
}
.join-class-submit:focus {
  outline: none;
}

@media (max-width: 860px) {
  .join-class-form {
    display: block;
    width: 180px;
    margin-left: 1rem;
  }

  .class-key-input,
  .join-class-submit {
    display: block;
  }

  .join-class-submit {
    margin: 0.5rem auto;
    width: 75px;
  }

  input.class-key-input {
    margin: 0;
  }

  .join-class-form p {
    margin: 0.5rem 0;
    text-align: center;
  }
}
