.game-title {
  margin-top: 2.5rem;
  font-family: "Scriptorium";
  font-size: 3rem;
  color: #e3e8d9;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.logo {
  width: 66px;
  height: 120px;
  margin: 2rem 1rem;
  z-index: 10;
  animation: bard 1s linear infinite;
}

.login-signup-container {
  width: 341px;
  height: 431px;
  margin: 0 auto;
  background: url(./landingframe3.png);
  background-size: cover;
  image-rendering: pixelated;
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.landing-page {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.landing-page-header {
  margin-top: 1rem;
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
}
