.game-title {
  margin-top: 2.5rem;
  font-family: "Scriptorium";
  font-size: 3rem;
  color: #e3e8d9;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.logo {
  width: 66px;
  height: 120px;
  margin: 2rem 1rem;
  z-index: 10;
  animation: bard 1s linear infinite;
}

.login-signup-container {
  width: 341px;
  height: 431px;
  margin: 0 auto;
  background: url(./landingframe3.png);
  background-size: cover;
  image-rendering: pixelated;
  overflow: hidden;
  position: relative;
  z-index: 2;
}

.landing-page {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.landing-page-header {
  margin-top: 1rem;
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
}

.landing-char1 {
  position: absolute;
  height: 124px;
  width: 60px;
  background: black;
  top: 334px;
  animation: landing-char1 1s linear infinite,
    landing-char1-move 60s linear infinite;
  z-index: 11;
}

.landing-char2 {
  position: absolute;
  height: 124px;
  width: 63px;
  background: black;
  top: 300px;
  animation: landing-char2 1s linear infinite,
    landing-char2-move 60s linear infinite;
  z-index: 10;
}

.landing-birb {
  position: absolute;
  width: 122px;
  height: 64px;
  animation: birb-flap 1s linear infinite, birb-move 20s linear infinite;
  z-index: 100;
  left: 700px;
}

.standing-char1 {
  position: absolute;
  z-index: 11;
  height: 123px;
  width: 62px;
  top: 580px;
  left: 635px;
  image-rendering: pixelated;
  background: url(./images/landing-standing-chars/stand.png);
  background-size: cover;
  animation: laughing-landing-char linear infinite 12s;
}

.standing-char2 {
  position: absolute;
  z-index: 11;
  height: 124px;
  width: 63px;
  top: 580px;
  left: 540px;
  background: url(./images/landing-standing-chars/char2.png);
  background-size: cover;
}

.crystal1,
.crystal2,
.crystal3,
.crystal4,
.crystal5,
.crystal6,
.crystal7,
.crystal8,
.crystal9,
.crystal10,
.crystal11,
.crystal12 {
  position: absolute;
  z-index: 18;
  height: 186px;
  width: 60px;
  top: 1000px;
  left: 1480px;
  animation: crystals 90s infinite linear;
}

.crystal2,
.crystal4,
.crystal6,
.crystal8,
.crystal10,
.crystal12 {
  left: 1080px;
}

.crystal3,
.crystal4 {
  top: 1150px;
  z-index: 19;
}

.crystal5,
.crystal6 {
  top: 1300px;
  z-index: 20;
}

.crystal7,
.crystal8 {
  top: 850px;
  z-index: 17;
}

.crystal9,
.crystal10 {
  top: 700px;
  z-index: 16;
}

.crystal11,
.crystal12 {
  top: 550px;
  z-index: 15;
}

@keyframes landing-char1-move {
  0% {
    transform: translateX(2700px);
  }
  100% {
    transform: translateX(-100px);
  }
}

@keyframes landing-char2-move {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translateX(2700px);
  }
}

@keyframes landing-char1 {
  0% {
    background: url(./images/landing-char1/left1.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  25% {
    background: url(./images/landing-char1/left1.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  25.01% {
    background: url(./images/landing-char1/left2.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  50% {
    background: url(./images/landing-char1/left2.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  50.01% {
    background: url(./images/landing-char1/left1.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  75% {
    background: url(./images/landing-char1/left1.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  75.01% {
    background: url(./images/landing-char1/left3.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  100% {
    background: url(./images/landing-char1/left3.png);
    image-rendering: pixelated;
    background-size: cover;
  }
}

@keyframes landing-char2 {
  0% {
    background: url(./images/landing-char2/right1.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  25% {
    background: url(./images/landing-char2/right1.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  25.01% {
    background: url(./images/landing-char2/right2.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  50% {
    background: url(./images/landing-char2/right2.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  50.01% {
    background: url(./images/landing-char2/right1.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  75% {
    background: url(./images/landing-char2/right1.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  75.01% {
    background: url(./images/landing-char2/right3.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  100% {
    background: url(./images/landing-char2/right3.png);
    image-rendering: pixelated;
    background-size: cover;
  }
}

@keyframes background-move {
  0% {
    transform: translate(0, 0);

    background: url(../Game/images/snow-bg.png);
    background-size: cover;
    image-rendering: pixelated;
  }
  33% {
    background: url(../Game/images/snow-bg.png);
    background-size: cover;
    image-rendering: pixelated;
  }
  25% {
    transform: translate(-500px, -500px);
  }
  35% {
    background: url(../Game/images/forestpath-bg.png);
    background-size: cover;
    image-rendering: pixelated;
  }
  50% {
    transform: translate(0, 0);
  }
  64% {
    background: url(../Game/images/forestpath-bg.png);
    background-size: cover;
    image-rendering: pixelated;
  }
  66% {
    background: url(../Game/images/dd-bg.png);
    background-size: cover;
    image-rendering: pixelated;
  }
  75% {
    transform: translate(-500px, -500px);
  }
  96% {
    background: url(../Game/images/dd-bg.png);
    background-size: cover;
    image-rendering: pixelated;
  }
  100% {
    background: url(../Game/images/snow-bg.png);
    background-size: cover;
    image-rendering: pixelated;
    transform: translate(0, 0);
  }
}

@keyframes bard {
  0% {
    background: url(./images/bard/bard-1.png);
    background-size: cover;
    image-rendering: pixelated;
  }
  20% {
    background: url(./images/bard/bard-1.png);
    background-size: cover;
    image-rendering: pixelated;
  }
  20.01% {
    background: url(./images/bard/bard-2.png);
    background-size: cover;
    image-rendering: pixelated;
  }
  50% {
    background: url(./images/bard/bard-2.png);
    background-size: cover;
    image-rendering: pixelated;
  }
  50.01% {
    background: url(./images/bard/bard-3.png);
    background-size: cover;
    image-rendering: pixelated;
  }
  80% {
    background: url(./images/bard/bard-3.png);
    background-size: cover;
    image-rendering: pixelated;
  }
  80.01% {
    background: url(./images/bard/bard-4.png);
    background-size: cover;
    image-rendering: pixelated;
  }
  100% {
    background: url(./images/bard/bard-4.png);
    background-size: cover;
    image-rendering: pixelated;
  }
}

@keyframes birb-flap {
  0% {
    background: url(./images/birdtho/birb1.png);
    background-size: cover;
    image-rendering: pixelated;
  }
  25% {
    background: url(./images/birdtho/birb1.png);
    background-size: cover;
    image-rendering: pixelated;
  }
  25.01% {
    background: url(./images/birdtho/birb2.png);
    background-size: cover;
    image-rendering: pixelated;
  }
  50% {
    background: url(./images/birdtho/birb2.png);
    background-size: cover;
    image-rendering: pixelated;
  }
  50.01% {
    background: url(./images/birdtho/birb1.png);
    background-size: cover;
    image-rendering: pixelated;
  }
  75% {
    background: url(./images/birdtho/birb1.png);
    background-size: cover;
    image-rendering: pixelated;
  }
  75.01% {
    background: url(./images/birdtho/birb3.png);
    background-size: cover;
    image-rendering: pixelated;
  }
  100% {
    background: url(./images/birdtho/birb3.png);
    background-size: cover;
    image-rendering: pixelated;
  }
}

@keyframes birb-move {
  0% {
    transform: translateY(1700px);
  }
  100% {
    transform: translateY(-100px);
  }
}

@keyframes laughing-landing-char {
  0% {
    width: 64px;

    image-rendering: pixelated;
    background: url(./images/landing-standing-chars/stand.png);
    background-size: cover;
  }
  80% {
    image-rendering: pixelated;
    background: url(./images/landing-standing-chars/stand.png);
    background-size: cover;
    width: 64px;
  }
  80.01% {
    width: 70px;
    image-rendering: pixelated;
    background: url(./images/landing-standing-chars/laugh1.png);
    background-size: cover;
  }
  81% {
    image-rendering: pixelated;
    background: url(./images/landing-standing-chars/laugh1.png);
    background-size: cover;
  }
  81.01% {
    image-rendering: pixelated;
    background: url(./images/landing-standing-chars/laugh2.png);
    background-size: cover;
  }
  82% {
    image-rendering: pixelated;
    background: url(./images/landing-standing-chars/laugh2.png);
    background-size: cover;
  }
  82.01% {
    image-rendering: pixelated;
    background: url(./images/landing-standing-chars/laugh3.png);
    background-size: cover;
  }
  83% {
    image-rendering: pixelated;
    background: url(./images/landing-standing-chars/laugh3.png);
    background-size: cover;
  }
  83.01% {
    image-rendering: pixelated;
    background: url(./images/landing-standing-chars/laugh1.png);
    background-size: cover;
  }
  84% {
    image-rendering: pixelated;
    background: url(./images/landing-standing-chars/laugh1.png);
    background-size: cover;
  }
  84.01% {
    image-rendering: pixelated;
    background: url(./images/landing-standing-chars/laugh2.png);
    background-size: cover;
  }
  85% {
    image-rendering: pixelated;
    background: url(./images/landing-standing-chars/laugh2.png);
    background-size: cover;
  }
  85.01% {
    image-rendering: pixelated;
    background: url(./images/landing-standing-chars/laugh3.png);
    background-size: cover;
  }
  86% {
    image-rendering: pixelated;
    background: url(./images/landing-standing-chars/laugh3.png);
    background-size: cover;
  }
  86.01% {
    image-rendering: pixelated;
    background: url(./images/landing-standing-chars/laugh1.png);
    background-size: cover;
  }
  87% {
    image-rendering: pixelated;
    background: url(./images/landing-standing-chars/laugh1.png);
    background-size: cover;
  }
  87.01% {
    image-rendering: pixelated;
    background: url(./images/landing-standing-chars/laugh2.png);
    background-size: cover;
  }
  88% {
    image-rendering: pixelated;
    background: url(./images/landing-standing-chars/laugh2.png);
    background-size: cover;
  }
  88.01% {
    image-rendering: pixelated;
    background: url(./images/landing-standing-chars/laugh3.png);
    background-size: cover;
  }
  89% {
    image-rendering: pixelated;
    background: url(./images/landing-standing-chars/laugh3.png);
    background-size: cover;
  }
  89.01% {
    image-rendering: pixelated;
    background: url(./images/landing-standing-chars/laugh1.png);
    background-size: cover;
  }
  90% {
    width: 70px;

    image-rendering: pixelated;
    background: url(./images/landing-standing-chars/laugh1.png);
    background-size: cover;
  }
  90.01% {
    width: 70px;
    image-rendering: pixelated;
    background: url(./images/landing-standing-chars/laugh1.png);
    background-size: cover;
  }
  91% {
    image-rendering: pixelated;
    background: url(./images/landing-standing-chars/laugh1.png);
    background-size: cover;
  }
  91.01% {
    image-rendering: pixelated;
    background: url(./images/landing-standing-chars/laugh2.png);
    background-size: cover;
  }
  92% {
    image-rendering: pixelated;
    background: url(./images/landing-standing-chars/laugh2.png);
    background-size: cover;
  }
  92.01% {
    image-rendering: pixelated;
    background: url(./images/landing-standing-chars/laugh3.png);
    background-size: cover;
  }
  93% {
    image-rendering: pixelated;
    background: url(./images/landing-standing-chars/laugh3.png);
    background-size: cover;
  }
  93.01% {
    image-rendering: pixelated;
    background: url(./images/landing-standing-chars/laugh1.png);
    background-size: cover;
  }
  94% {
    image-rendering: pixelated;
    background: url(./images/landing-standing-chars/laugh1.png);
    background-size: cover;
  }
  94.01% {
    image-rendering: pixelated;
    background: url(./images/landing-standing-chars/laugh2.png);
    background-size: cover;
  }
  95% {
    image-rendering: pixelated;
    background: url(./images/landing-standing-chars/laugh2.png);
    background-size: cover;
  }
  95.01% {
    image-rendering: pixelated;
    background: url(./images/landing-standing-chars/laugh3.png);
    background-size: cover;
  }
  96% {
    image-rendering: pixelated;
    background: url(./images/landing-standing-chars/laugh3.png);
    background-size: cover;
  }
  96.01% {
    image-rendering: pixelated;
    background: url(./images/landing-standing-chars/laugh1.png);
    background-size: cover;
  }
  97% {
    image-rendering: pixelated;
    background: url(./images/landing-standing-chars/laugh1.png);
    background-size: cover;
  }
  97.01% {
    image-rendering: pixelated;
    background: url(./images/landing-standing-chars/laugh2.png);
    background-size: cover;
  }
  98% {
    image-rendering: pixelated;
    background: url(./images/landing-standing-chars/laugh2.png);
    background-size: cover;
  }
  98.01% {
    image-rendering: pixelated;
    background: url(./images/landing-standing-chars/laugh3.png);
    background-size: cover;
  }
  99% {
    image-rendering: pixelated;
    background: url(./images/landing-standing-chars/laugh3.png);
    background-size: cover;
  }
  99.01% {
    image-rendering: pixelated;
    background: url(./images/landing-standing-chars/laugh1.png);
    background-size: cover;
  }
  100% {
    width: 70px;

    image-rendering: pixelated;
    background: url(./images/landing-standing-chars/laugh1.png);
    background-size: cover;
  }
}

@keyframes crystals {
  0% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  66% {
    opacity: 1;
    background: url(../Game/images/crystal1/cry2.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  67% {
    background: url(../Game/images/crystal1/cry2.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  67.01% {
    background: url(../Game/images/crystal1/cry1.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  68% {
    background: url(../Game/images/crystal1/cry1.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  68.01% {
    background: url(../Game/images/crystal1/cry2.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  69% {
    background: url(../Game/images/crystal1/cry2.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  69.01% {
    background: url(../Game/images/crystal1/cry3.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  70% {
    background: url(../Game/images/crystal1/cry3.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  70.01% {
    background: url(../Game/images/crystal1/cry2.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  71% {
    background: url(../Game/images/crystal1/cry2.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  71.01% {
    background: url(../Game/images/crystal1/cry1.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  72% {
    background: url(../Game/images/crystal1/cry1.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  72.01% {
    background: url(../Game/images/crystal1/cry2.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  73% {
    background: url(../Game/images/crystal1/cry2.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  73.01% {
    opacity: 1;
    background: url(../Game/images/crystal1/cry3.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  74% {
    background: url(../Game/images/crystal1/cry3.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  74.01% {
    background: url(../Game/images/crystal1/cry2.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  75% {
    background: url(../Game/images/crystal1/cry2.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  75.01% {
    background: url(../Game/images/crystal1/cry1.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  76% {
    background: url(../Game/images/crystal1/cry1.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  76.01% {
    background: url(../Game/images/crystal1/cry2.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  77% {
    background: url(../Game/images/crystal1/cry2.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  77.01% {
    opacity: 1;
    background: url(../Game/images/crystal1/cry3.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  78% {
    background: url(../Game/images/crystal1/cry3.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  78.01% {
    background: url(../Game/images/crystal1/cry2.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  79% {
    background: url(../Game/images/crystal1/cry2.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  79.01% {
    background: url(../Game/images/crystal1/cry1.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  80% {
    background: url(../Game/images/crystal1/cry1.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  80.01% {
    background: url(../Game/images/crystal1/cry2.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  81% {
    background: url(../Game/images/crystal1/cry2.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  81.01% {
    opacity: 1;
    background: url(../Game/images/crystal1/cry3.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  82% {
    background: url(../Game/images/crystal1/cry3.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  82.01% {
    background: url(../Game/images/crystal1/cry2.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  83% {
    background: url(../Game/images/crystal1/cry2.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  83.01% {
    background: url(../Game/images/crystal1/cry1.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  84% {
    background: url(../Game/images/crystal1/cry1.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  84.01% {
    background: url(../Game/images/crystal1/cry2.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  85% {
    background: url(../Game/images/crystal1/cry2.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  85.01% {
    opacity: 1;
    background: url(../Game/images/crystal1/cry3.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  86% {
    background: url(../Game/images/crystal1/cry3.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  86.01% {
    background: url(../Game/images/crystal1/cry2.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  87% {
    background: url(../Game/images/crystal1/cry2.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  87.01% {
    background: url(../Game/images/crystal1/cry1.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  88% {
    background: url(../Game/images/crystal1/cry1.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  88.01% {
    background: url(../Game/images/crystal1/cry2.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  89% {
    background: url(../Game/images/crystal1/cry2.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  89.01% {
    background: url(../Game/images/crystal1/cry3.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  90% {
    background: url(../Game/images/crystal1/cry3.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  90.01% {
    background: url(../Game/images/crystal1/cry2.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  91% {
    background: url(../Game/images/crystal1/cry2.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  91.01% {
    background: url(../Game/images/crystal1/cry1.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  92% {
    background: url(../Game/images/crystal1/cry1.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  92.01% {
    background: url(../Game/images/crystal1/cry2.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  93% {
    background: url(../Game/images/crystal1/cry2.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  93.01% {
    background: url(../Game/images/crystal1/cry3.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  94% {
    background: url(../Game/images/crystal1/cry3.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  94.01% {
    background: url(../Game/images/crystal1/cry2.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  95% {
    background: url(../Game/images/crystal1/cry2.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  95.01% {
    background: url(../Game/images/crystal1/cry1.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  96% {
    background: url(../Game/images/crystal1/cry1.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  96.01% {
    background: url(../Game/images/crystal1/cry2.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  97% {
    background: url(../Game/images/crystal1/cry2.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  97.01% {
    opacity: 1;
    background: url(../Game/images/crystal1/cry3.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  98% {
    opacity: 1;

    background: url(../Game/images/crystal1/cry3.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  98.01% {
    background: url(../Game/images/crystal1/cry2.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  99% {
    background: url(../Game/images/crystal1/cry2.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  99.01% {
    background: url(../Game/images/crystal1/cry1.png);
    image-rendering: pixelated;
    background-size: cover;
  }
  100% {
    opacity: 0;
    background: url(../Game/images/crystal1/cry1.png);
    image-rendering: pixelated;
    background-size: cover;
  }
}
