.player.fourteen {
  background: url(../pcs/char14/idle1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.player.fourteen.idle {
  animation: fourteen-idle infinite 1.3s linear;
  -webkit-animation: fourteen-idle infinite 1.3s linear;
  -moz-animation: fourteen-idle infinite 1.3s linear;
  -o-animation: fourteen-idle infinite 1.3s linear;
}

.player.fourteen.attack {
  animation: fourteen-attack 0.75s linear;
  -webkit-animation: fourteen-attack 0.75s linear;
  -moz-animation: fourteen-attack 0.75s linear;
  -o-animation: fourteen-attack 0.75s linear;
}

.player.fourteen.hit {
  animation: fourteen-hit 0.75s linear;
  -webkit-animation: fourteen-hit 0.75s linear;
  -moz-animation: fourteen-hit 0.75s linear;
  -o-animation: fourteen-hit 0.75s linear;

  animation-delay: 0.3s;
}

.player.fourteen.victory {
  animation: fourteen-victory 1s linear;
  -webkit-animation: fourteen-victory 1s linear;
  -moz-animation: fourteen-victory 1s linear;
  -o-animation: fourteen-victory 1s linear;

  transform: scale(1);
  background: url(../pcs/char14/victory3.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.player.fourteen.dead {
  animation: fourteen-dead 1s linear;
  -webkit-animation: fourteen-dead 1s linear;
  -moz-animation: fourteen-dead 1s linear;
  -o-animation: fourteen-dead 1s linear;

  background: url(../pcs/char14/dead.png);
  background-size: cover;
  background-repeat: no-repeat;
  animation-iteration-count: 3;
}

@keyframes fourteen-idle {
  0% {
    background: url("../pcs/char14/idle1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  25% {
    background: url("../pcs/char14/idle1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  25.01% {
    background: url("../pcs/char14/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  50% {
    background: url("../pcs/char14/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  50.01% {
    background: url("../pcs/char14/idle3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  75% {
    background: url("../pcs/char14/idle3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  75.01% {
    background: url("../pcs/char14/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../pcs/char14/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@-webkit-keyframes fourteen-idle {
  0% {
    background: url("../pcs/char14/idle1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  25% {
    background: url("../pcs/char14/idle1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  25.01% {
    background: url("../pcs/char14/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  50% {
    background: url("../pcs/char14/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  50.01% {
    background: url("../pcs/char14/idle3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  75% {
    background: url("../pcs/char14/idle3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  75.01% {
    background: url("../pcs/char14/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../pcs/char14/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@-moz-keyframes fourteen-idle {
  0% {
    background: url("../pcs/char14/idle1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  25% {
    background: url("../pcs/char14/idle1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  25.01% {
    background: url("../pcs/char14/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  50% {
    background: url("../pcs/char14/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  50.01% {
    background: url("../pcs/char14/idle3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  75% {
    background: url("../pcs/char14/idle3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  75.01% {
    background: url("../pcs/char14/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../pcs/char14/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@-o-keyframes fourteen-idle {
  0% {
    background: url("../pcs/char14/idle1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  25% {
    background: url("../pcs/char14/idle1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  25.01% {
    background: url("../pcs/char14/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  50% {
    background: url("../pcs/char14/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  50.01% {
    background: url("../pcs/char14/idle3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  75% {
    background: url("../pcs/char14/idle3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  75.01% {
    background: url("../pcs/char14/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../pcs/char14/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@keyframes fourteen-attack {
  0% {
    background: url("../pcs/char14/attack1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  33% {
    background: url("../pcs/char14/attack1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  33.01% {
    background: url("../pcs/char14/attack2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  66% {
    background: url("../pcs/char14/attack2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  66.01% {
    background: url("../pcs/char14/attack3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../pcs/char14/attack3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@-webkit-keyframes fourteen-attack {
  0% {
    background: url("../pcs/char14/attack1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  33% {
    background: url("../pcs/char14/attack1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  33.01% {
    background: url("../pcs/char14/attack2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  66% {
    background: url("../pcs/char14/attack2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  66.01% {
    background: url("../pcs/char14/attack3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../pcs/char14/attack3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@-moz-keyframes fourteen-attack {
  0% {
    background: url("../pcs/char14/attack1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  33% {
    background: url("../pcs/char14/attack1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  33.01% {
    background: url("../pcs/char14/attack2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  66% {
    background: url("../pcs/char14/attack2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  66.01% {
    background: url("../pcs/char14/attack3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../pcs/char14/attack3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@-o-keyframes fourteen-attack {
  0% {
    background: url("../pcs/char14/attack1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  33% {
    background: url("../pcs/char14/attack1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  33.01% {
    background: url("../pcs/char14/attack2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  66% {
    background: url("../pcs/char14/attack2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  66.01% {
    background: url("../pcs/char14/attack3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../pcs/char14/attack3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@keyframes fourteen-hit {
  0% {
    background: url("../pcs/char14/idle1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateX(0px) scaleX(-1);
  }
  33% {
    background: url("../pcs/char14/idle1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  33.01% {
    background: url("../pcs/char14/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  50% {
    background: url("../pcs/char14/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  50.01% {
    background: url("../pcs/char14/hit1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateX(0px) scaleX(-1);
  }
  66% {
    background: url("../pcs/char14/hit1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  66.01% {
    background: url("../pcs/char14/hit2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  82% {
    background: url("../pcs/char14/hit2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateX(-10px) scaleX(-1);
  }
  82.01% {
    background: url("../pcs/char14/hit3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../pcs/char14/hit3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateX(0px) scaleX(-1);
  }
}

@-webkit-keyframes fourteen-hit {
  0% {
    background: url("../pcs/char14/idle1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transform: translateX(0px) scaleX(-1);
  }
  33% {
    background: url("../pcs/char14/idle1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  33.01% {
    background: url("../pcs/char14/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  50% {
    background: url("../pcs/char14/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  50.01% {
    background: url("../pcs/char14/hit1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transform: translateX(0px) scaleX(-1);
  }
  66% {
    background: url("../pcs/char14/hit1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  66.01% {
    background: url("../pcs/char14/hit2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  82% {
    background: url("../pcs/char14/hit2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transform: translateX(-10px) scaleX(-1);
  }
  82.01% {
    background: url("../pcs/char14/hit3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../pcs/char14/hit3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transform: translateX(0px) scaleX(-1);
  }
}

@-moz-keyframes fourteen-hit {
  0% {
    background: url("../pcs/char14/idle1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
    -moz-transform: translateX(0px) scaleX(-1);
  }
  33% {
    background: url("../pcs/char14/idle1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  33.01% {
    background: url("../pcs/char14/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  50% {
    background: url("../pcs/char14/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  50.01% {
    background: url("../pcs/char14/hit1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
    -moz-transform: translateX(0px) scaleX(-1);
  }
  66% {
    background: url("../pcs/char14/hit1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  66.01% {
    background: url("../pcs/char14/hit2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  82% {
    background: url("../pcs/char14/hit2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
    -moz-transform: translateX(-10px) scaleX(-1);
  }
  82.01% {
    background: url("../pcs/char14/hit3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../pcs/char14/hit3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
    -moz-transform: translateX(0px) scaleX(-1);
  }
}

@-o-keyframes fourteen-hit {
  0% {
    background: url("../pcs/char14/idle1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
    -o-transform: translateX(0px) scaleX(-1);
  }
  33% {
    background: url("../pcs/char14/idle1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  33.01% {
    background: url("../pcs/char14/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  50% {
    background: url("../pcs/char14/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  50.01% {
    background: url("../pcs/char14/hit1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
    -o-transform: translateX(0px) scaleX(-1);
  }
  66% {
    background: url("../pcs/char14/hit1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  66.01% {
    background: url("../pcs/char14/hit2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  82% {
    background: url("../pcs/char14/hit2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
    -o-transform: translateX(-10px) scaleX(-1);
  }
  82.01% {
    background: url("../pcs/char14/hit3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../pcs/char14/hit3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
    -o-transform: translateX(0px) scaleX(-1);
  }
}

@keyframes fourteen-victory {
  0% {
    background: url("../pcs/char14/victory1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  25% {
    background: url("../pcs/char14/victory1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  25.01% {
    background: url("../pcs/char14/victory2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  40% {
    background: url("../pcs/char14/victory2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  40.01% {
    background: url("../pcs/char14/victory3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../pcs/char14/victory3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@-webkit-keyframes fourteen-victory {
  0% {
    background: url("../pcs/char14/victory1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  25% {
    background: url("../pcs/char14/victory1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  25.01% {
    background: url("../pcs/char14/victory2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  40% {
    background: url("../pcs/char14/victory2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  40.01% {
    background: url("../pcs/char14/victory3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../pcs/char14/victory3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@-moz-keyframes fourteen-victory {
  0% {
    background: url("../pcs/char14/victory1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  25% {
    background: url("../pcs/char14/victory1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  25.01% {
    background: url("../pcs/char14/victory2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  40% {
    background: url("../pcs/char14/victory2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  40.01% {
    background: url("../pcs/char14/victory3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../pcs/char14/victory3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@-o-keyframes fourteen-victory {
  0% {
    background: url("../pcs/char14/victory1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  25% {
    background: url("../pcs/char14/victory1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  25.01% {
    background: url("../pcs/char14/victory2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  40% {
    background: url("../pcs/char14/victory2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  40.01% {
    background: url("../pcs/char14/victory3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../pcs/char14/victory3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@keyframes fourteen-dead {
  0% {
    background: url("../pcs/char14/crouch1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  33% {
    background: url("../pcs/char14/crouch1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  33.01% {
    background: url("../pcs/char14/crouch2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  66% {
    background: url("../pcs/char14/crouch2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  66.01% {
    background: url("../pcs/char14/crouch3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../pcs/char14/crouch3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@-webkit-keyframes fourteen-dead {
  0% {
    background: url("../pcs/char14/crouch1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  33% {
    background: url("../pcs/char14/crouch1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  33.01% {
    background: url("../pcs/char14/crouch2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  66% {
    background: url("../pcs/char14/crouch2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  66.01% {
    background: url("../pcs/char14/crouch3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../pcs/char14/crouch3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@-moz-keyframes fourteen-dead {
  0% {
    background: url("../pcs/char14/crouch1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  33% {
    background: url("../pcs/char14/crouch1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  33.01% {
    background: url("../pcs/char14/crouch2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  66% {
    background: url("../pcs/char14/crouch2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  66.01% {
    background: url("../pcs/char14/crouch3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../pcs/char14/crouch3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@-o-keyframes fourteen-dead {
  0% {
    background: url("../pcs/char14/crouch1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  33% {
    background: url("../pcs/char14/crouch1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  33.01% {
    background: url("../pcs/char14/crouch2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  66% {
    background: url("../pcs/char14/crouch2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  66.01% {
    background: url("../pcs/char14/crouch3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../pcs/char14/crouch3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
