.player.three {
  background: url(../pcs/char3/idle1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.player.three.idle {
  animation: three-idle infinite 1s linear;
}

@keyframes three-idle {
  0% {
    background: url("../pcs/char3/idle1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  25% {
    background: url("../pcs/char3/idle1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  25.01% {
    background: url("../pcs/char3/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  50% {
    background: url("../pcs/char3/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  50.01% {
    background: url("../pcs/char3/idle3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  75% {
    background: url("../pcs/char3/idle3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  75.01% {
    background: url("../pcs/char3/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../pcs/char3/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
