.player.twelve {
  background: url(../pcs/char12/idle1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.player.twelve.idle {
  animation: twelve-idle infinite 1.3s linear;
  -webkit-animation: twelve-idle infinite 1.3s linear;
  -moz-animation: twelve-idle infinite 1.3s linear;
  -o-animation: twelve-idle infinite 1.3s linear;

}

.player.twelve.attack {
  animation: twelve-attack 0.75s linear;
  -webkit-animation: twelve-attack 0.75s linear;
  -moz-animation: twelve-attack 0.75s linear;
  -o-animation: twelve-attack 0.75s linear;

}

.player.twelve.hit {
  animation: twelve-hit 0.75s linear;
  -webkit-animation: twelve-hit 0.75s linear;
  -moz-animation: twelve-hit 0.75s linear;
  -o-animation: twelve-hit 0.75s linear;

  animation-delay: 0.3s;
}

.player.twelve.victory {
  animation: twelve-victory 1s linear;
  -webkit-animation: twelve-victory 1s linear;
  -moz-animation: twelve-victory 1s linear;
  -o-animation: twelve-victory 1s linear;

  transform: scale(1);
  background: url(../pcs/char12/victory3.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.player.twelve.dead {
  animation: twelve-dead 1s linear;
  -webkit-animation: twelve-dead 1s linear;
  -moz-animation: twelve-dead 1s linear;
  -o-animation: twelve-dead 1s linear;

  background: url(../pcs/char12/dead.png);
  background-size: cover;
  background-repeat: no-repeat;
  animation-iteration-count: 3;
}

@keyframes twelve-idle {
  0% {
    background: url("../pcs/char12/idle1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  25% {
    background: url("../pcs/char12/idle1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  25.01% {
    background: url("../pcs/char12/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  50% {
    background: url("../pcs/char12/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  50.01% {
    background: url("../pcs/char12/idle3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  75% {
    background: url("../pcs/char12/idle3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  75.01% {
    background: url("../pcs/char12/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../pcs/char12/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@-webkit-keyframes twelve-idle {
  0% {
    background: url("../pcs/char12/idle1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  25% {
    background: url("../pcs/char12/idle1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  25.01% {
    background: url("../pcs/char12/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  50% {
    background: url("../pcs/char12/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  50.01% {
    background: url("../pcs/char12/idle3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  75% {
    background: url("../pcs/char12/idle3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  75.01% {
    background: url("../pcs/char12/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../pcs/char12/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@-moz-keyframes twelve-idle {
  0% {
    background: url("../pcs/char12/idle1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  25% {
    background: url("../pcs/char12/idle1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  25.01% {
    background: url("../pcs/char12/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  50% {
    background: url("../pcs/char12/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  50.01% {
    background: url("../pcs/char12/idle3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  75% {
    background: url("../pcs/char12/idle3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  75.01% {
    background: url("../pcs/char12/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../pcs/char12/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@-o-keyframes twelve-idle {
  0% {
    background: url("../pcs/char12/idle1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  25% {
    background: url("../pcs/char12/idle1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  25.01% {
    background: url("../pcs/char12/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  50% {
    background: url("../pcs/char12/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  50.01% {
    background: url("../pcs/char12/idle3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  75% {
    background: url("../pcs/char12/idle3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  75.01% {
    background: url("../pcs/char12/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../pcs/char12/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@keyframes twelve-attack {
  0% {
    background: url("../pcs/char12/attack1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  33% {
    background: url("../pcs/char12/attack1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  33.01% {
    background: url("../pcs/char12/attack2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  66% {
    background: url("../pcs/char12/attack2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  66.01% {
    background: url("../pcs/char12/attack3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../pcs/char12/attack3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@-webkit-keyframes twelve-attack {
  0% {
    background: url("../pcs/char12/attack1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  33% {
    background: url("../pcs/char12/attack1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  33.01% {
    background: url("../pcs/char12/attack2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  66% {
    background: url("../pcs/char12/attack2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  66.01% {
    background: url("../pcs/char12/attack3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../pcs/char12/attack3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@-moz-keyframes twelve-attack {
  0% {
    background: url("../pcs/char12/attack1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  33% {
    background: url("../pcs/char12/attack1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  33.01% {
    background: url("../pcs/char12/attack2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  66% {
    background: url("../pcs/char12/attack2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  66.01% {
    background: url("../pcs/char12/attack3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../pcs/char12/attack3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@-o-keyframes twelve-attack {
  0% {
    background: url("../pcs/char12/attack1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  33% {
    background: url("../pcs/char12/attack1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  33.01% {
    background: url("../pcs/char12/attack2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  66% {
    background: url("../pcs/char12/attack2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  66.01% {
    background: url("../pcs/char12/attack3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../pcs/char12/attack3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@keyframes twelve-hit {
  0% {
    background: url("../pcs/char12/idle1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateX(0px) scaleX(-1);
  }
  33% {
    background: url("../pcs/char12/idle1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  33.01% {
    background: url("../pcs/char12/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  50% {
    background: url("../pcs/char12/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  50.01% {
    background: url("../pcs/char12/hit1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateX(0px) scaleX(-1);
  }
  66% {
    background: url("../pcs/char12/hit1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  66.01% {
    background: url("../pcs/char12/hit2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  82% {
    background: url("../pcs/char12/hit2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateX(-10px) scaleX(-1);
  }
  82.01% {
    background: url("../pcs/char12/hit3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../pcs/char12/hit3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateX(0px) scaleX(-1);
  }
}

@-webkit-keyframes twelve-hit {
  0% {
    background: url("../pcs/char12/idle1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transform: translateX(0px) scaleX(-1);
  }
  33% {
    background: url("../pcs/char12/idle1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  33.01% {
    background: url("../pcs/char12/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  50% {
    background: url("../pcs/char12/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  50.01% {
    background: url("../pcs/char12/hit1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transform: translateX(0px) scaleX(-1);
  }
  66% {
    background: url("../pcs/char12/hit1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  66.01% {
    background: url("../pcs/char12/hit2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  82% {
    background: url("../pcs/char12/hit2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transform: translateX(-10px) scaleX(-1);
  }
  82.01% {
    background: url("../pcs/char12/hit3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../pcs/char12/hit3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transform: translateX(0px) scaleX(-1);
  }
}

@-moz-keyframes twelve-hit {
  0% {
    background: url("../pcs/char12/idle1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
    -moz-transform: translateX(0px) scaleX(-1);
  }
  33% {
    background: url("../pcs/char12/idle1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  33.01% {
    background: url("../pcs/char12/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  50% {
    background: url("../pcs/char12/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  50.01% {
    background: url("../pcs/char12/hit1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
    -moz-transform: translateX(0px) scaleX(-1);
  }
  66% {
    background: url("../pcs/char12/hit1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  66.01% {
    background: url("../pcs/char12/hit2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  82% {
    background: url("../pcs/char12/hit2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
    -moz-transform: translateX(-10px) scaleX(-1);
  }
  82.01% {
    background: url("../pcs/char12/hit3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../pcs/char12/hit3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
    -moz-transform: translateX(0px) scaleX(-1);
  }
}

@-o-keyframes twelve-hit {
  0% {
    background: url("../pcs/char12/idle1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
    -o-transform: translateX(0px) scaleX(-1);
  }
  33% {
    background: url("../pcs/char12/idle1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  33.01% {
    background: url("../pcs/char12/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  50% {
    background: url("../pcs/char12/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  50.01% {
    background: url("../pcs/char12/hit1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
    -o-transform: translateX(0px) scaleX(-1);
  }
  66% {
    background: url("../pcs/char12/hit1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  66.01% {
    background: url("../pcs/char12/hit2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  82% {
    background: url("../pcs/char12/hit2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
    -o-transform: translateX(-10px) scaleX(-1);
  }
  82.01% {
    background: url("../pcs/char12/hit3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../pcs/char12/hit3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
    -o-transform: translateX(0px) scaleX(-1);
  }
}

@keyframes twelve-victory {
  0% {
    background: url("../pcs/char12/victory1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  25% {
    background: url("../pcs/char12/victory1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  25.01% {
    background: url("../pcs/char12/victory2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  40% {
    background: url("../pcs/char12/victory2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  40.01% {
    background: url("../pcs/char12/victory3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../pcs/char12/victory3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@-webkit-keyframes twelve-victory {
  0% {
    background: url("../pcs/char12/victory1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  25% {
    background: url("../pcs/char12/victory1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  25.01% {
    background: url("../pcs/char12/victory2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  40% {
    background: url("../pcs/char12/victory2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  40.01% {
    background: url("../pcs/char12/victory3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../pcs/char12/victory3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@-moz-keyframes twelve-victory {
  0% {
    background: url("../pcs/char12/victory1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  25% {
    background: url("../pcs/char12/victory1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  25.01% {
    background: url("../pcs/char12/victory2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  40% {
    background: url("../pcs/char12/victory2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  40.01% {
    background: url("../pcs/char12/victory3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../pcs/char12/victory3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@-o-keyframes twelve-victory {
  0% {
    background: url("../pcs/char12/victory1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  25% {
    background: url("../pcs/char12/victory1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  25.01% {
    background: url("../pcs/char12/victory2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  40% {
    background: url("../pcs/char12/victory2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  40.01% {
    background: url("../pcs/char12/victory3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../pcs/char12/victory3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@keyframes twelve-dead {
  0% {
    background: url("../pcs/char12/crouch1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  33% {
    background: url("../pcs/char12/crouch1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  33.01% {
    background: url("../pcs/char12/crouch2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  66% {
    background: url("../pcs/char12/crouch2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  66.01% {
    background: url("../pcs/char12/crouch3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../pcs/char12/crouch3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@-webkit-keyframes twelve-dead {
  0% {
    background: url("../pcs/char12/crouch1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  33% {
    background: url("../pcs/char12/crouch1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  33.01% {
    background: url("../pcs/char12/crouch2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  66% {
    background: url("../pcs/char12/crouch2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  66.01% {
    background: url("../pcs/char12/crouch3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../pcs/char12/crouch3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@-moz-keyframes twelve-dead {
  0% {
    background: url("../pcs/char12/crouch1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  33% {
    background: url("../pcs/char12/crouch1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  33.01% {
    background: url("../pcs/char12/crouch2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  66% {
    background: url("../pcs/char12/crouch2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  66.01% {
    background: url("../pcs/char12/crouch3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../pcs/char12/crouch3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@-o-keyframes twelve-dead {
  0% {
    background: url("../pcs/char12/crouch1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  33% {
    background: url("../pcs/char12/crouch1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  33.01% {
    background: url("../pcs/char12/crouch2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  66% {
    background: url("../pcs/char12/crouch2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  66.01% {
    background: url("../pcs/char12/crouch3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../pcs/char12/crouch3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
}