.player.ten {
  background: url(../pcs/char10/idle1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.player.ten.idle {
  animation: ten-idle infinite 1.3s linear;
}

.player.ten.attack {
  animation: ten-attack 0.75s linear;
}

.player.ten.hit {
  animation: ten-hit 0.75s linear;
  animation-delay: 0.3s;
}

.player.ten.victory {
  animation: ten-victory 1s linear;
  background: url("../pcs/char10/victory3.png");
  background-size: cover;
  background-repeat: no-repeat;
  transform: scale(1);
}

.player.ten.dead {
  animation: ten-dead 1s linear;
  background: url(../pcs/char10/dead.png);
  background-size: cover;
  background-repeat: no-repeat;
  animation-iteration-count: 3;
}

@keyframes ten-idle {
  0% {
    background: url("../pcs/char10/idle1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  25% {
    background: url("../pcs/char10/idle1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  25.01% {
    background: url("../pcs/char10/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  50% {
    background: url("../pcs/char10/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  50.01% {
    background: url("../pcs/char10/idle3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  75% {
    background: url("../pcs/char10/idle3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  75.01% {
    background: url("../pcs/char10/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../pcs/char10/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@keyframes ten-attack {
  0% {
    background: url("../pcs/char10/attack1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  33% {
    background: url("../pcs/char10/attack1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  33.01% {
    background: url("../pcs/char10/attack2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  66% {
    background: url("../pcs/char10/attack2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  66.01% {
    background: url("../pcs/char10/attack3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../pcs/char10/attack3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@keyframes ten-hit {
  0% {
    background: url("../pcs/char10/idle1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateX(0px) scaleX(-1);
  }
  33% {
    background: url("../pcs/char10/idle1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  33.01% {
    background: url("../pcs/char10/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  50% {
    background: url("../pcs/char10/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  50.01% {
    background: url("../pcs/char10/hit1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateX(0px) scaleX(-1);
  }
  66% {
    background: url("../pcs/char10/hit1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  66.01% {
    background: url("../pcs/char10/hit2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  82% {
    background: url("../pcs/char10/hit2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateX(-10px) scaleX(-1);
  }
  82.01% {
    background: url("../pcs/char10/hit3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../pcs/char10/hit3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateX(0px) scaleX(-1);
  }
}

@keyframes ten-victory {
  0% {
    background: url("../pcs/char10/victory1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  25% {
    background: url("../pcs/char10/victory1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  25.01% {
    background: url("../pcs/char10/victory2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  40% {
    background: url("../pcs/char10/victory2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  40.01% {
    background: url("../pcs/char10/victory3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../pcs/char10/victory3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@keyframes ten-dead {
  0% {
    background: url("../pcs/char10/crouch1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  33% {
    background: url("../pcs/char10/crouch1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  33.01% {
    background: url("../pcs/char10/crouch2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  66% {
    background: url("../pcs/char10/crouch2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  66.01% {
    background: url("../pcs/char10/crouch3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../pcs/char10/crouch3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
