.player.eight {
  background: url(../pcs/char8/idle1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.player.eight.idle {
  animation: eight-idle infinite 1.3s linear;
}

.player.eight.attack {
  animation: eight-attack 0.75s linear;
}

.player.eight.hit {
  animation: eight-hit 0.75s linear;
  animation-delay: 0.3s;
}

.player.eight.victory {
  animation: eight-victory 1s linear;
  background: url("../pcs/char8/victory3.png");
  background-size: cover;
  background-repeat: no-repeat;
  transform: scale(1);
}

.player.eight.dead {
  animation: eight-dead 1s linear;
  background: url(../pcs/char8/dead.png);
  background-size: cover;
  background-repeat: no-repeat;
  animation-iteration-count: 3;
}

@keyframes eight-idle {
  0% {
    background: url("../pcs/char8/idle1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  25% {
    background: url("../pcs/char8/idle1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  25.01% {
    background: url("../pcs/char8/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  50% {
    background: url("../pcs/char8/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  50.01% {
    background: url("../pcs/char8/idle3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  75% {
    background: url("../pcs/char8/idle3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  75.01% {
    background: url("../pcs/char8/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../pcs/char8/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@keyframes eight-attack {
  0% {
    background: url("../pcs/char8/attack1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  33% {
    background: url("../pcs/char8/attack1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  33.01% {
    background: url("../pcs/char8/attack2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  66% {
    background: url("../pcs/char8/attack2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  66.01% {
    background: url("../pcs/char8/attack3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../pcs/char8/attack3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@keyframes eight-hit {
  0% {
    background: url("../pcs/char8/idle1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
    left: 10px;
  }
  33% {
    background: url("../pcs/char8/idle1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  33.01% {
    background: url("../pcs/char8/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  50% {
    background: url("../pcs/char8/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  50.01% {
    background: url("../pcs/char8/hit1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
    left: 10px;
  }
  66% {
    background: url("../pcs/char8/hit1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  66.01% {
    background: url("../pcs/char8/hit2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  82% {
    background: url("../pcs/char8/hit2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
    left: 0;
  }
  82.01% {
    background: url("../pcs/char8/hit3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../pcs/char8/hit3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
    left: 10px;
  }
}

@keyframes eight-victory {
  0% {
    background: url("../pcs/char8/victory1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  25% {
    background: url("../pcs/char8/victory1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  25.01% {
    background: url("../pcs/char8/victory2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  40% {
    background: url("../pcs/char8/victory2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  40.01% {
    background: url("../pcs/char8/victory3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../pcs/char8/victory3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@keyframes eight-dead {
  0% {
    background: url("../pcs/char8/crouch1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  33% {
    background: url("../pcs/char8/crouch1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  33.01% {
    background: url("../pcs/char8/crouch2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  66% {
    background: url("../pcs/char8/crouch2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  66.01% {
    background: url("../pcs/char8/crouch3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../pcs/char8/crouch3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
