.player.two {
  background: url(../pcs/char2/idle1.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.player.two.idle {
  animation: two-idle infinite 1.3s linear;
}

.player.two.attack {
  animation: two-attack 0.75s linear;
}

.player.two.hit {
  animation: two-hit 0.75s linear;
}

.player.two.victory {
  animation: two-victory 1s linear;
  transform: scale(1);
  background: url(../pcs/char2/victory3.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.player.two.dead {
  animation: two-dead 1s linear;
  background: url(../pcs/char2/dead.png);
  background-size: cover;
  background-repeat: no-repeat;
  animation-iteration-count: 3;
}

@keyframes two-idle {
  0% {
    background: url("../pcs/char2/idle1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  25% {
    background: url("../pcs/char2/idle1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  25.01% {
    background: url("../pcs/char2/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  50% {
    background: url("../pcs/char2/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  50.01% {
    background: url("../pcs/char2/idle3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  75% {
    background: url("../pcs/char2/idle3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  75.01% {
    background: url("../pcs/char2/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../pcs/char2/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@keyframes two-attack {
  0% {
    background: url("../pcs/char2/attack1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  33% {
    background: url("../pcs/char2/attack1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  33.01% {
    background: url("../pcs/char2/attack2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  66% {
    background: url("../pcs/char2/attack2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  66.01% {
    background: url("../pcs/char2/attack3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../pcs/char2/attack3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@keyframes two-hit {
  0% {
    background: url("../pcs/char2/idle1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
    left: 10px;
  }
  33% {
    background: url("../pcs/char2/idle1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  33.01% {
    background: url("../pcs/char2/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  50% {
    background: url("../pcs/char2/idle2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  50.01% {
    background: url("../pcs/char2/hit1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
    left: 10px;
  }
  66% {
    background: url("../pcs/char2/hit1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  66.01% {
    background: url("../pcs/char2/hit2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  82% {
    background: url("../pcs/char2/hit2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
    left: 0;
  }
  82.01% {
    background: url("../pcs/char2/hit3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../pcs/char2/hit3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
    left: 10px;
  }
}

@keyframes two-victory {
  0% {
    background: url("../pcs/char2/victory1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  25% {
    background: url("../pcs/char2/victory1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  25.01% {
    background: url("../pcs/char2/victory2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  50% {
    background: url("../pcs/char2/victory2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  50.01% {
    background: url("../pcs/char2/victory3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../pcs/char2/victory3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@keyframes two-dead {
  0% {
    background: url("../pcs/char2/crouch1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  33% {
    background: url("../pcs/char2/crouch1.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  33.01% {
    background: url("../pcs/char2/crouch2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  66% {
    background: url("../pcs/char2/crouch2.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  66.01% {
    background: url("../pcs/char2/crouch3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url("../pcs/char2/crouch3.png");
    image-rendering: pixelated;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
