@keyframes monster-attack {
  0% {
    left: 150px;
  }
  50% {
    left: 130px;
  }
  100% {
    left: 150px;
  }
}

@keyframes monster-hit {
  0% {
    left: 150px;
  }
  50% {
    left: 170px;
  }
  100% {
    left: 150px;
  }
}

@keyframes monster-dead {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  15.01% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  30.01% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.01% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.01% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  75.01% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  90.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
