.monster {
  position: absolute;
  width: 183px;
  height: 171px;
  background-size: 732px 171px;
  left: 130px;
  top: 20px;
  animation: 1.5s monster-idle infinite steps(4);
  opacity: 1;
  transform: translateZ(0);
}

.monster.hit {
  animation: monster-hit 1s linear, 1.5s monster-idle infinite steps(4);
}

.monster.attack {
  animation: monster-attack 0.75s linear, 1.5s monster-idle infinite steps(4);
}

.monster.dead {
  animation: monster-dead 3s linear, 1.5s monster-idle infinite steps(4);
  opacity: 0;
}

@keyframes monster-idle {
  100% {
    background-position: -732px;
  }
}

@keyframes monster-attack {
  0% {
    left: 130px;
  }
  50% {
    left: 110px;
  }
  100% {
    left: 130px;
  }
}

@-webkit-keyframes monster-attack {
  0% {
    left: 130px;
  }
  50% {
    left: 110px;
  }
  100% {
    left: 130px;
  }
}

@-moz-keyframes monster-attack {
  0% {
    left: 130px;
  }
  50% {
    left: 110px;
  }
  100% {
    left: 130px;
  }
}

@-0-keyframes monster-attack {
  0% {
    left: 130px;
  }
  50% {
    left: 110px;
  }
  100% {
    left: 130px;
  }
}

@keyframes monster-hit {
  0% {
    left: 130px;
  }
  33% {
    left: 130px;
  }
  66% {
    left: 150px;
  }
  100% {
    left: 130px;
  }
}

@-webkit-keyframes monster-hit {
  0% {
    left: 130px;
  }
  33% {
    left: 130px;
  }
  66% {
    left: 150px;
  }
  100% {
    left: 130px;
  }
}

@-moz-keyframes monster-hit {
  0% {
    left: 130px;
  }
  33% {
    left: 130px;
  }
  66% {
    left: 150px;
  }
  100% {
    left: 130px;
  }
}

@-o-keyframes monster-hit {
  0% {
    left: 130px;
  }
  33% {
    left: 130px;
  }
  66% {
    left: 150px;
  }
  100% {
    left: 130px;
  }
}

@keyframes monster-dead {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  15.01% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  30.01% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.01% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.01% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  75.01% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  90.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes monster-dead {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  15.01% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  30.01% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.01% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.01% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  75.01% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  90.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes monster-dead {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  15.01% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  30.01% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.01% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.01% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  75.01% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  90.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes monster-dead {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  15.01% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  30.01% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  45.01% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.01% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  75.01% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  90.01% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 700px) {
  .monster {
    top: 5px;
  }
}
