.change-password-form {
  position: relative;
  overflow: hidden;
}
.student.change-password-form {
  height: 180px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 130px 1fr;
  animation: account-subsection-fade-in 0.3s linear;
}

.student.change-password-form *:focus {
  outline: none;
}

.student.change-password-form button:active {
  box-shadow: none;
}

.student.change-password-form button {
  grid-column: 1/3;
  width: 150px;
  height: 23px;
  font-family: "chronotype";
  font-size: 1rem;
  margin: 1rem auto;
  background: #6a9dd4;
  border: 0;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}

.student.change-password-form input {
  font-family: "chronotype";
  font-size: 1rem;
  height: 18px;
  width: 300px;
  margin-top: 1rem;
  background: #6a9dd4;
  border: 0;
  padding-left: 8px;
}

.student.change-password-form input:placeholder {
  color: #333;
}

.student.change-password-form p {
  padding-top: 1.3rem;
  margin: 0;
}

@media (max-width: 770px) {
  .student.change-password-form {
    padding-left: 1rem;
    display: block;
  }

  .student.change-password-form input {
    margin: 0;
  }

  .student.change-password-form input {
    width: 140px;
  }
}

/* TEACHER ACCOUNT  */

/* TEACHER PROFILE  */

.teacher.change-password {
  width: 350px;
  margin: auto;
}

.teacher.change-password-form {
  padding-bottom: 2rem;
}

.teacher.password-component-text {
  display: inline-block;
  margin-right: 0.5rem;
  margin-bottom: 0;
  width: 110px;
}

.teacher.change-password input {
  width: 200px;
  margin-top: 1rem;
  margin-bottom: 0;
}

.teacher.change-password button {
  margin-top: 1.5rem;
  width: 130px;
}

/* SUCCESS AND ERROR MESSAGING  */

.password-match-warning,
.password-incorrect-warning,
.password-change-success {
  text-align: center;
  position: absolute;
  width: 150px;
  top: 150px;
  left: 800px;
  margin: auto;
}

.password-match-warning.true,
.password-incorrect-warning.true,
.password-change-success.true {
  left: 162px;
}

.teacher.password-match-warning,
.teacher.password-incorrect-warning,
.teacher.password-change-success {
  top: 180px;
}

.teacher.password-match-warning.true,
.teacher.password-incorrect-warning.true,
.teacher.password-change-success.true {
  left: 102px;
}
