@font-face {
  font-family: "Scriptorium";
  src: url("../../fonts/Scriptorium.ttf") format("ttf"),
    url("../../fonts/Scriptorium.woff2");
}

@font-face {
  font-family: "ChronoType";
  src: url("../../fonts/ChronoType.ttf") format("ttf"),
    url("../../fonts/ChronoType.woff2");
}

.App {
  text-align: center;
  overflow: hidden;
  color: #333;
}

.App.true:hover {
  cursor: wait !important;
}

.name-game-student-wrapper {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.main-floating-backer {
  position: absolute;
  height: 1500px;
  width: 2500px;
  z-index: 1;
  overflow: hidden;
  animation: 90s background-move infinite linear;
  background-size: cover;
}

.student-facing-ui {
  position: relative;
  height: 100vh;
}
