.game-main {
  width: 100vw;
  overflow: hidden;
}

.game-area-wrapper {
  background: url(./giantbg.png);
  max-width: 1500px;
  height: 750px;
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: pixelated;
  position: relative;
  margin: auto;
}

.game-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 82px;
}

.game-header h4 {
  position: absolute;
  right: 0;
  margin: 1rem;
}

.avatar-border {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  height: 80px;
  width: 80px;
  margin: 1rem 0 0 1rem;
  display: flex;
  align-items: center;
  border-radius: 50%;
}

.header-avatar {
  margin: auto;
  height: 62px;
  width: 37px;
}

.header-avatar.one {
  background: url(./pcs/char1/stand.png);
  image-rendering: pixelated;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-avatar.two {
  background: url(./pcs/char2/stand.png);
  image-rendering: pixelated;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-avatar.three {
  background: url(./pcs/char3/stand.png);
  image-rendering: pixelated;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-avatar.four {
  background: url(./pcs/char4/stand.png);
  image-rendering: pixelated;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-avatar.five {
  background: url(./pcs/char5/stand.png);
  image-rendering: pixelated;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-avatar.six {
  background: url(./pcs/char6/stand.png);
  image-rendering: pixelated;
  background-size: cover;
  background-repeat: no-repeat;
}

.timer {
  font-family: "chronotype";
  line-height: 50px;
  padding-top: 0.7rem;
}

.timer-frame {
  background: url("./clockframe.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  width: 240px;
  height: 60px;
  margin: auto;
}

.gameplay-frame {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 300px;
}
