.game-main {
  overflow: hidden;
  height: 100vh;
  animation: fade-in-game 0.5s linear;
  opacity: 1;
}

.game-area-wrapper {
  background: url(./images/snow-bg-big.png);
  max-width: 2100px;
  height: 1200px;
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: pixelated;
  position: relative;
  margin: auto;
  overflow: hidden;
}

.game-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 82px;
}

.game-avatar-circle {
  position: absolute;
  height: 82px;
  width: 82px;
  background: url(../App/27circle.png);
  background-size: cover;
  image-rendering: pixelated;
  z-index: 300;
  top: 15px;
  left: 15px;
}

.avatar-border {
  position: absolute;
  background: url(./images/offwhite-avatar-backer.png);
  background-size: cover;
  height: 80px;
  width: 80px;
  margin: 1rem 0 0 1rem;
  display: flex;
  align-items: center;
  border-radius: 50%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.avatar-border:hover {
  cursor: pointer;
}

.header-avatar {
  margin: auto;
  height: 62px;
  width: 37px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 11px;
}

.header-avatar.one {
  background: url(./pcs/char1/stand.png);
  image-rendering: pixelated;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-avatar.two {
  background: url(./pcs/char2/stand.png);
  image-rendering: pixelated;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-avatar.three {
  background: url(./pcs/char3/stand.png);
  image-rendering: pixelated;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-avatar.four {
  background: url(./pcs/char4/stand.png);
  image-rendering: pixelated;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-avatar.five {
  background: url(./pcs/char5/stand.png);
  image-rendering: pixelated;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-avatar.six {
  background: url(./pcs/char6/stand.png);
  image-rendering: pixelated;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-avatar.nine {
  background: url(./pcs/char9/stand.png);
  image-rendering: pixelated;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-avatar.ten {
  background: url(./pcs/char10/stand.png);
  image-rendering: pixelated;
  background-size: cover;
  background-repeat: no-repeat;
  width: 43px;
  height: 62px;
}

.header-avatar.seven {
  background: url(./pcs/char7/stand.png);
  image-rendering: pixelated;
  background-size: cover;
  background-repeat: no-repeat;
  width: 43px;
  height: 62px;
}

.header-avatar.eight {
  background: url(./pcs/char8/stand.png);
  image-rendering: pixelated;
  background-size: cover;
  background-repeat: no-repeat;
  width: 43px;
  height: 62px;
}

.header-avatar.eleven {
  background: url(./pcs/char11/stand.png);
  image-rendering: pixelated;
  background-size: cover;
  background-repeat: no-repeat;
  width: 33px;
}

.hearts-and-timer {
  display: grid;
  grid-template-columns: 1fr 300px 1fr;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
}

.timer {
  font-family: "chronotype";
  font-size: 3rem;
  line-height: 50px;
  padding-top: 0.6rem;
  margin-bottom: 0;
  margin-top: 0;
}

.timer-frame {
  background: url("./images/clockframe.png");
  image-rendering: pixelated;

  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  width: 240px;
  height: 60px;
  margin: auto;
}

.gameplay-frame {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 250px;
}

@keyframes fade-in-game {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.kickoff-btn {
  font-family: "chronotype";
  font-size: 1.4rem;
  border: 2px solid #333;
  padding-top: 3px;
  background: #e3e8d9;
}
