.student-dash {
  font-family: "chronotype";
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}

.snow-backer {
  animation: snow 90s infinite linear;
  position: absolute;
  height: 6000px;
  width: 10000px;
  background: url(../Landing/images/snow/wsheet_snow_1.png);
  background-size: 384px 96px;
  z-index: 10000;
}

.student-dash-floating-backer {
  position: absolute;
  height: 1500px;
  width: 2500px;
  animation: 90s background-move infinite linear;
  background-size: cover;
  z-index: 1;
  overflow: hidden;
}

.student-dash-wrapper {
  width: 800px;
  height: 600px;
  background: url("../Game/images/char-dash-backer.png");
  background-size: cover;
  image-rendering: pixelated;
  margin: auto;
  position: relative;
  z-index: 1000;
  box-shadow: 2px 2px 2px rgba(0, 0, 0.3);
}

.student-dash-header {
  display: grid;
  grid-template-columns: 112px 1fr;

  position: relative;
}

.student-dash-avatar-backer {
  grid-row: 1/3;
  margin: 2rem 2rem 2rem 2rem;
  position: relative;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: url(../Game/images/offwhite-avatar-backer.png);
  background-size: cover;
  image-rendering: pixelated;
  border: 2px solid #4776bb;
  box-shadow: 1px 1px 1px#4776bb;
}

.student-dash-avatar {
  margin: auto;
  height: 60px;
  width: 33px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 11px;
}

.student-dash-avatar.one {
  background: url(../Game/pcs/char1/stand.png);
  image-rendering: pixelated;
  background-size: cover;
  background-repeat: no-repeat;
}

.student-dash-avatar.two {
  background: url(../Game/pcs/char2/stand.png);
  image-rendering: pixelated;
  background-size: cover;
  background-repeat: no-repeat;
}

.student-dash-avatar.three {
  background: url(../Game/pcs/char3/stand.png);
  image-rendering: pixelated;
  background-size: cover;
  background-repeat: no-repeat;
}

.student-dash-avatar.four {
  background: url(../Game/pcs/char4/stand.png);
  image-rendering: pixelated;
  background-size: cover;
  background-repeat: no-repeat;
}

.student-dash-avatar.five {
  background: url(../Game/pcs/char5/stand.png);
  image-rendering: pixelated;
  background-size: cover;
  background-repeat: no-repeat;
  width: 37px;
}

.student-dash-avatar.six {
  background: url(../Game/pcs/char6/stand.png);
  image-rendering: pixelated;
  background-size: cover;
  background-repeat: no-repeat;
  width: 37px;
}

.student-dash-avatar.nine {
  background: url(../Game/pcs/char9/stand.png);
  image-rendering: pixelated;
  background-size: cover;
  background-repeat: no-repeat;
  width: 36px;
  height: 60px;
}

.student-dash-avatar.ten {
  background: url(../Game/pcs/char10/stand.png);
  image-rendering: pixelated;
  background-size: cover;
  background-repeat: no-repeat;
  width: 42px;
  height: 60px;
}

.student-dash-avatar.seven {
  background: url(../Game/pcs/char7/stand.png);
  image-rendering: pixelated;
  background-size: cover;
  background-repeat: no-repeat;
  width: 42px;
  height: 62px;
}

.student-dash-avatar.eight {
  background: url(../Game/pcs/char8/stand.png);
  image-rendering: pixelated;
  background-size: cover;
  background-repeat: no-repeat;
  width: 43px;
  height: 62px;
}

.hearts-and-timer {
  display: grid;
  grid-template-columns: 1fr 300px 1fr;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
}

.student-name {
  grid-row: 1;
  height: 20px;
  text-align: start;
  margin-bottom: 0;
  margin-top: 3.2rem;
  margin-left: 2rem;
}

.student-class-link {
  grid-column: 2;
  text-align: start;
  margin-top: 0.5rem;
  margin-left: 2rem;
}

.onboarding-link {
  position: absolute;
  right: 0;
  top: 0;
  margin: 2.5rem 2.5rem;
  background: url(./images/help.png);
  width: 18px;
  height: 27px;
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  image-rendering: pixelated;
  transition: 0.1s;
}

.onboarding-link:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.onboarding-link:focus {
  outline: none;
}

.onboarding-link:active {
  transform: scale(1);
}

.new-game-section {
  display: flex;
  position: relative;
  height: 40px;
}

.start-game {
  font-family: "Scriptorium";
  color: #4776bb;
  font-size: 2rem;
  background: #e3e8d9;
  text-shadow: 1px 1px 1px rgba(0, 0, 0.5);
  box-shadow: 1px 1px 1px#4776bb;
  margin-left: 3rem;
  height: 4rem;
  padding: 1rem;
}

.start-game:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px#4776bb;
}

.start-game:active {
  box-shadow: none;
}

.start-game:focus {
  outline: none;
}

.instrument-label {
  margin: 1.5rem 1rem 0 8rem;
}

.instrument-dropdown {
  background: #4776bb;
  width: 236px;
  height: 24px;
  line-height: 26px;
  margin: 1.2rem 0 0;
  padding-right: 2rem;
  transition: 0.2s;
  box-shadow: 1px 1px 1px#4776bb;
}

.instrument-dropdown:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px#000;
}

.instrument-dropdown:active {
  box-shadow: none;
}

.deploy-arrow {
  position: absolute;
  top: 26px;
  left: 702px;
  width: 14px;
  height: 10px;
  background: url(./images/arrow.png);
  background-size: cover;
  image-rendering: pixelated;
  transition: 0.3s;
  z-index: 30;
}

.deploy-arrow.true {
  transform: rotate(90deg);
}

.deploy-arrow:hover {
  cursor: pointer;
}

.instrument-dropdown-list {
  margin: 0;
  height: 0;
  overflow: hidden;
  list-style: none;
  padding: 0;
  position: absolute;
  left: 500px;
  top: 49px;
  padding: 0 1rem;
  background: #e3e8d9;
  transition: 0.3s;
  border: 0px solid #4776bb;
  z-index: 400;
}

.instrument-dropdown-list.true {
  height: 338px;
  padding-bottom: 1rem;
  box-shadow: 1px 1px 1px#4776bb;
  border: 2px solid #4776bb;
}

.instrument-list-item {
  margin-top: 0.4rem;
  width: 170px;
  font-size: 1.1rem;
}

.instrument-list-item:hover {
  cursor: pointer;
}

.total-games-played {
  text-align: start;
  margin: 5rem 0 2rem 3rem;
}

.most-recent-badges {
  margin-top: 2rem;
  text-align: start;
  margin-left: 3rem;
  margin-bottom: 0.5rem;
}

@keyframes snow {
  0% {
    top: -3000px;
    left: -3000px;
    opacity: 0;
  }
  1% {
    opacity: 1;
  }

  32% {
    opacity: 1;
  }
  34% {
    opacity: 0;
    top: 0;
    left: -1000px;
  }
  100% {
    opacity: 0;
    top: -3000px;
    left: -3000px;
  }
}

.fastest-times {
  text-align: start;
  margin: 3rem 0 0 3rem;
}

.times-row {
  display: flex;
  margin-left: 3rem;
}

.time-container {
  margin: 0.3rem 1rem 0 0;
}

.time-label {
  font-size: 1.3rem;
  margin-top: 0;
  text-align: start;
}

.badge-row {
  display: flex;
  margin-left: 3rem;
  background: #4776bb;
  width: 700px;
}

.badge {
  width: 39px;
  height: 33px;
  image-rendering: pixelated;
  background: url("./images/purple-gem.png");
  background-size: cover;
  margin: 1rem;
  position: relative;
}

.badge:hover {
  cursor: pointer;
}

.badge.level_one {
  background: url("./images/green-gem.png");
  background-size: cover;
}

.badge.level_one_perfect {
  background: url("./images/green-gem-stars.png");
  background-size: cover;
}

.badge.level_two {
  background: url("./images/blue-gem.png");
  background-size: cover;
}

.badge.level_two_perfect {
  background: url("./images/blue-gem-stars.png");
  background-size: cover;
}

.badge.level_three {
  background: url("./images/red-gem.png");
  background-size: cover;
}

.badge.level_three_perfect {
  background: url("./images/red-gem-stars.png");
  background-size: cover;
}

.badge.level_four {
  background: url("./images/gold-gem.png");
  background-size: cover;
}

.badge.level_four_perfect {
  background: url("./images/gold-gem-stars.png");
  background-size: cover;
}

.badge:hover .badge-descriptor {
  display: block;
}

.badge-descriptor {
  position: absolute;
  display: none;
  width: 100px;
  background: #4776bb;
  top: 20px;
  padding: 0.5rem;
  left: -40px;
}
