.student-class-view-wrapper {
  font-family: "chronotype";
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}
.student-class-view {
  animation: slide-class-view 0.3s linear;
  -webkit-animation: slide-class-view 0.3s linear;
  -moz-animation: slide-class-view 0.3s linear;
  -o-animation: slide-class-view 0.3s linear;
  background: url("../Game/images/char-dash-backer.png");
  width: 800px;
  height: 600px;
  background-size: cover;
  image-rendering: pixelated;
  margin: auto;
  position: relative;
  z-index: 1000;
  box-shadow: 2px 2px 2px rgba(0, 0, 0.3);
  text-align: start;
}
.student-class-view-header {
  margin-top: 3rem;
  margin-left: 1rem;
}

.class-view-back-btn {
  position: absolute;
  right: 3rem;
  top: 3rem;
  background: #4776bb;
  box-shadow: 2px 2px 2px#000;
  border: none;
}

.class-view-back-btn:hover {
  cursor: pointer;
}

.class-view-back-btn:active {
  box-shadow: none;
}

.class-view-back-btn:focus {
  outline: none;
}

.student-class-view-class-name,
.student-class-view-teacher-name {
  margin-left: 2rem;
}

.student-class-view-class-name {
  margin-bottom: 0.5rem;
}

.student-class-view-teacher-name {
  margin-top: 0;
  margin-bottom: 5rem;
  font-size: 1.4rem;
}

.class-view-fastest-times-row {
  display: flex;
  justify-content: space-around;
  margin: 0 2rem;
}

.class-view-fastest-times-label {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 0;
}

.class-view-fastest-time {
  margin: 0 1rem;
  text-align: center;
  font-size: 1.2rem;
  position: relative;
}

.most-games-badges-row {
  display: flex;
  justify-content: space-around;
  font-size: 1.4rem;
  text-align: center;
  margin-top: 4rem;
}

.most-games-badges-label {
  margin-bottom: 0.5rem;
}

.most-games.game-badge {
  position: relative;
}

.most-badges {
  position: relative;
}

@keyframes slide-class-onboarding {
  0% {
    right: 4000px;
  }
  100% {
    right: 0;
  }
}

@-webkit-keyframes slide-class-onboarding {
  0% {
    right: 4000px;
  }
  100% {
    right: 0;
  }
}

@-moz-keyframes slide-class-onboarding {
  0% {
    right: 4000px;
  }
  100% {
    right: 0;
  }
}

@-o-keyframes slide-class-onboarding {
  0% {
    right: 4000px;
  }
  100% {
    right: 0;
  }
}

.avatar-class-view {
  margin: auto;
  height: 60px;
  width: 33px;
  position: absolute;
  left: 0;
  right: 0;
  transition: 0.2s;
  bottom: -3rem;
}

.avatar-class-view.one {
  background: url(../Game/pcs/char1/stand.png);
  image-rendering: pixelated;
  background-size: cover;
  background-repeat: no-repeat;
}

.avatar-class-view.two {
  background: url(../Game/pcs/char2/stand.png);
  image-rendering: pixelated;
  background-size: cover;
  background-repeat: no-repeat;
}

.avatar-class-view.three {
  background: url(../Game/pcs/char3/stand.png);
  image-rendering: pixelated;
  background-size: cover;
  background-repeat: no-repeat;
  width: 35px;
}

.avatar-class-view.four {
  background: url(../Game/pcs/char4/stand.png);
  image-rendering: pixelated;
  background-size: cover;
  background-repeat: no-repeat;
}

.avatar-class-view.five {
  background: url(../Game/pcs/char5/stand.png);
  image-rendering: pixelated;
  background-size: cover;
  background-repeat: no-repeat;
  width: 37px;
}

.avatar-class-view.six {
  background: url(../Game/pcs/char6/stand.png);
  image-rendering: pixelated;
  background-size: cover;
  background-repeat: no-repeat;
  width: 37px;
}

.avatar-class-view.nine {
  background: url(../Game/pcs/char9/stand.png);
  image-rendering: pixelated;
  background-size: cover;
  background-repeat: no-repeat;
  width: 36px;
  height: 60px;
}

.avatar-class-view.ten {
  background: url(../Game/pcs/char10/stand.png);
  image-rendering: pixelated;
  background-size: cover;
  background-repeat: no-repeat;
  width: 42px;
  height: 60px;
}

.avatar-class-view.eleven {
  background: url(../Game/pcs/char11/stand.png);
  image-rendering: pixelated;
  background-size: cover;
  background-repeat: no-repeat;
}

.avatar-class-view.twelve {
  background: url(../Game/pcs/char12/stand.png);
  image-rendering: pixelated;
  background-size: cover;
  background-repeat: no-repeat;
}

.avatar-class-view.seven {
  background: url(../Game/pcs/char7/stand.png);
  image-rendering: pixelated;
  background-size: cover;
  background-repeat: no-repeat;
  width: 42px;
  height: 62px;
}

.avatar-class-view.eight {
  background: url(../Game/pcs/char8/stand.png);
  image-rendering: pixelated;
  background-size: cover;
  background-repeat: no-repeat;
  width: 43px;
  height: 62px;
}

.avatar-class-view.thirteen {
  background: url(../Game/pcs/char13/stand.png);
  image-rendering: pixelated;
  background-size: cover;
  background-repeat: no-repeat;
  width: 35px;
}

.avatar-class-view.fourteen {
  background: url(../Game/pcs/char14/stand.png);
  image-rendering: pixelated;
  background-size: cover;
  background-repeat: no-repeat;
  width: 33px;
}
