.staff {
  width: 315px;
  height: 150px;
  background: url("./staff/cropped-staff.png");
  background-size: cover;
  margin: 4.4rem 0 5rem 15px;
  image-rendering: pixelated;
  position: relative;
}

.staff-buffer {
  background: url("./staff/staff-frame.png");
  background-size: cover;
  background-repeat: no-repeat;
  image-rendering: pixelated;
  width: 345px;
  height: 330px;
  margin: auto;
  left: 0;
  right: 0;
  position: absolute;
}

.clef {
  position: absolute;
  top: 25px;
  left: 52px;
}

.clef.treble {
  background: url("./staff/trebleclef.png");
  background-size: cover;
  image-rendering: pixelated;
  height: 117px;
  width: 48px;
}

.clef.bass {
  background: url("./staff/bassclef.png");
  background-size: cover;
  image-rendering: pixelated;
  height: 80px;
  width: 80px;
  left: 36px;
}

.clef.alto {
  background: url("./staff/altoclef.png");
  background-size: cover;
  image-rendering: pixelated;
  top: 27px;
  left: 40px;
  height: 96px;
  width: 64px;
}

.pitch {
  position: absolute;
  background: url("./staff/notehead3.png");
  width: 39px;
  height: 21px;
  image-rendering: pixelated;
  background-size: cover;
  left: 150px;
  top: 123px;
}

.pitch.below-space-one {
  top: 123px;
}
.pitch.line-one {
  top: 111px;
}

.pitch.space-one {
  top: 99px;
}

.pitch.line-two {
  top: 87px;
}

.pitch.space-two {
  top: 75px;
}

.pitch.line-three {
  top: 63px;
}

.pitch.space-three {
  top: 51px;
}

.pitch.line-four {
  top: 39px;
}

.pitch.space-four {
  top: 27px;
}

.pitch.line-five {
  top: 15px;
}

.pitch.above-space-one {
  top: 3px;
}

.pitch.above-space-two {
  background: url("./staff/notehead-one-ledger-above.png");
  top: -15px;
  width: 39px;
  height: 21px;
  image-rendering: pixelated;
  background-size: cover;
}

.pitch.above-line-one {
  background: url("./staff/notehead-one-ledger.png");
  top: -8px;
  width: 39px;
  height: 18px;
  image-rendering: pixelated;
  background-size: cover;
}

.pitch.below-line-one {
  background: url("./staff/notehead-one-ledger.png");
  top: 133px;
  width: 39px;
  height: 18px;
  image-rendering: pixelated;
  background-size: cover;
}

.pitch.below-space-two {
  background: url("./staff/notehead-one-ledger-above.png");
  transform: rotate(180deg);
  top: 145px;
  width: 39px;
  height: 21px;
  image-rendering: pixelated;
  background-size: cover;
}

.pitch.below-line-three {
  background: url("./staff/notehead-three-ledger-below.png");
  top: 145px;
  width: 39px;
  height: 55px;
  image-rendering: pixelated;
  background-size: cover;
}

.pitch.above-line-three {
  background: url("./staff/notehead-three-ledger-above.png");
  top: -50px;
  width: 39px;
  height: 55px;
  image-rendering: pixelated;
  background-size: cover;
}

.pitch.below-line-two {
  background: url("./staff/notehead-two-ledger-below.png");
  top: 145px;
  width: 39px;
  height: 34px;
  image-rendering: pixelated;
  background-size: cover;
}

.pitch.below-space-three {
  background: url("./staff/notehead-two-ledger-below-space.png");
  top: 145px;
  width: 39px;
  height: 50px;
  image-rendering: pixelated;
  background-size: cover;
}

.pitch.above-line-two {
  background: url("./staff/notehead-two-ledger-below.png");
  transform: rotate(180deg);
  top: -26px;
  width: 39px;
  height: 34px;
  image-rendering: pixelated;
  background-size: cover;
}

.correct-answer,
.incorrect-answer {
  display: none;
  font-family: "Scriptorium";
  color: #4776bb;
  font-size: 2rem;
  position: absolute;
  top: -60px;
  left: 0;
  right: 0;
  margin: auto;
  text-shadow: 1px 1px 1px #333;
}

.correct-answer.true,
.incorrect-answer.true {
  display: block;
}
