.player-effect {
  animation: player-claw steps(8) 1s;
  -webkit-animation: player-claw steps(8) 1s;
  -moz-animation: player-claw steps(8) 1s;
  -o-animation: player-claw steps(8) 1s;

  width: 192px;
  height: 192px;
  position: absolute;
  top: 40px;
  left: 0px;
  background-size: 1536px 192px;
}

@keyframes player-claw {
  100% {
    background-position: -1536px;
  }
}
