.player {
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);

  position: absolute;
  height: 144px;
  width: 144px;
  top: 55px;
  left: 10px;
}
