.forgot-pw-wrapper {
  position: absolute;
  width: 341px;
  height: 431px;
  left: 500px;
  right: 0;
  top: 0;
  margin: auto;
  transition: 0.3s;
  font-family: "chronotype";
}

.forgot-pw-wrapper.true {
  left: 0;
}

.forgot-password-form .forgot-email-input {
  display: block;
  font-family: "chronotype";
  font-size: 1.1rem;
  padding-left: 1.6rem;
  padding-top: 4px;
  width: 200px;
  height: 1rem;
  margin-right: 2rem;
  margin-top: 2rem;
}

.forgot-my-pw-label {
  margin-top: 2rem;
  margin-bottom: 0;
  font-size: 1.2rem;
}

.password-flexbox {
  display: flex;
  justify-content: space-between;
  height: 2rem;
  margin-bottom: 3rem;
  position: relative;
}

.enter-email-for-new-pw {
  font-size: 1.1rem;
  padding-bottom: 1rem;
  height: 1.2rem;
  margin: 2.4rem 0 0 2rem;
}

.send-new-pw-btn {
  border-radius: 0;
}

.send-new-pw-btn,
.backup-from-forgot-pw,
.have-reset-token {
  margin: 0;
  font-family: "chronotype";
  font-size: 1.1rem;
  padding-top: 4px;
  border-radius: 1px;
}

.send-new-pw-btn,
.backup-from-forgot-pw {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.send-new-pw-btn:active,
.backup-from-forgot-pw:active {
  box-shadow: none;
}

.send-new-pw-btn:focus,
.backup-from-forgot-pw:focus {
  outline: none;
}

.backup-from-forgot-pw {
  margin-top: 8rem;
}
.forgot-pw-lock-icon {
  position: absolute;
  background: url(../Landing/images/lock.png);
  width: 13px;
  height: 16px;
  background-size: cover;
  image-rendering: pixelated;
  left: 85px;
  top: 37px;
}

.pw-sent-success,
.pw-sent-failure {
  position: absolute;
  right: 0;
  left: 500px;
  margin: auto;
  top: 156px;
  transition: 0.3s;
  width: 341px;
}

.pw-sent-success.true,
.pw-sent-failure.true {
  left: 0;
}

.have-reset-token {
  margin: 2.5rem auto;
  display: block;
  background: none;
  border: none;
}

.success-message-reset,
.fail-message-reset,
.no-pw-match-reset {
  position: absolute;
  font-family: "chronotype";
  font-size: 1.1rem;
  left: 400px;
  right: 0;
  margin: auto;
  transition: 0.5s;
  width: 300px;
}

.success-message-reset.true,
.fail-message-reset.true,
.no-pw-match-reset.true {
  left: 0;
}

@media (max-width: 700px) {
  .backup-from-forgot-pw {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 2rem;
    width: 4rem;
    padding: 4px 0 3px;
    text-align: center;
  }

  .forgot-pw-lock-icon {
    display: none;
  }

  .forgot-password-form .forgot-email-input {
    padding-left: 4px;
    padding-top: 5px;
  }

  .forgot-password-form {
    margin: 0.5rem;
  }
  input.send-new-pw-btn {
    height: 25px;
    /* background: #f2f2f2; */
  }
}

.character {
  image-rendering: pixelated;
}
