.game-user-modal {
  width: 180px;
  height: 240px;
  position: absolute;
  left: -300px;
  top: 110px;
  background: url("../Game/images/big-modal-frame.png");
  image-rendering: pixelated;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.3s;
  font-family: "chronotype";
}

.game-user-modal.true {
  left: 0px;
}

.game-user-modal button {
  position: absolute;
  font-family: "chronotype";
  display: block;
  font-size: 1.3rem;
  margin: auto;
  border-radius: 10px;
}

.exit-game-button {
  bottom: 20px;
  width: 50px;
  left: 0;
  right: 0;
}

.reset-game-button {
  bottom: 50px;
  width: 60px;
  left: 0;
  right: 0;
}

.game-modal-username {
  font-size: 1.5rem;
  margin: 2rem 0 0;
}

.current-instrument-label {
  font-size: 1.3rem;
  font-weight: 700;
  margin: 1rem 0 0;
}

.current-instrument {
  font-size: 1.2rem;
  margin: 0;
}
