.game-user-modal {
  width: 180px;
  height: 240px;
  position: absolute;
  left: -300px;
  top: 110px;
  background: url("../Game/images/big-modal-frame.png");
  image-rendering: pixelated;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.3s;
  font-family: "chronotype";
}

.game-user-modal.true {
  left: 0px;
}

.game-user-modal button {
  padding-top: 3px;
  position: absolute;
  font-family: "chronotype";
  display: block;
  font-size: 1.3rem;
  margin: auto;
  background: #f2f2f2;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  border: 1px solid #333;
  text-align: center;
  width: 80px;
}

.game-user-modal button:focus {
  outline: none;
}

.game-user-modal button:active {
  box-shadow: none;
}

.game-user-modal button:hover {
  cursor: pointer;
}

.exit-game-button {
  bottom: 30px;
  width: 50px;
  left: 0;
  right: 0;
}

.reset-game-button {
  bottom: 60px;
  width: 60px;
  left: 0;
  right: 0;
}

.game-modal-username {
  font-size: 1.5rem;
  margin: 2rem 0 0;
}

.current-instrument-label {
  font-size: 1.3rem;
  font-weight: 700;
  margin: 1rem 0 0;
}

.current-instrument {
  font-size: 1.2rem;
  margin: 0;
}

.exiting-message,
.resetting-message {
  position: absolute;
  /* left: -400px; */
  top: 85px;
  right: 0;
  left: -300px;
  margin: auto;
  transition: 0.1s;
}

.resetting-message {
  top: 101px;
}

.exiting-message.true,
.resetting-message.true {
  left: 0;
}
